.Image {
    transform: rotate(270deg);
    padding-top: 60px;
    margin-top: 35px;
    float: left;
    margin-right: 50px;
    margin-bottom: 500px;
}
.topbar {
    height:100px;
    width: 1800px;
    background-color:#777;
    padding-top:60px; 
}
.wrapper {
    width: 1800px;
    height: 960px;
    background: aqua;
}
.ContentContainer {
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    width: 960px;
    padding-top: 100px;
    float: left;
    background-color:white;
    margin-top: 140px;
    overflow: hidden;
    padding-right: 50px;
    margin-left: 420px;
}
.NamePlate {
    background-color: #4180e6;
    width: 200px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 420px;
    display: inline-block;
    color: white;
    padding-bottom: 22px;
    text-align: center; 
    padding-top: 20px; 
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;

}
.AboutMe {
    float: left;
    margin-bottom: 20px; 
    margin-left: 90px;
    width: 80px;
    height: 20px;
    margin-top: -50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: #4180e6;
    

}
.About {
    background-color: #4180e6;
    display: inline-block;
    float: right;
    width: 40px;
    padding: 17px 20px;
    margin-top:47px;
    margin-right: 360px;
    color: white;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
.Portfolio {
    background-color: #4180e6;
    display: inline-block;
    float: right;
    width: 50px;
    padding: 17px 20px;
    margin-right:20px;
    margin-top: 47px;
    color: white;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
.Contact {
    background-color: #4180e6;
    color: white;
    display: inline-block;
    float: right;
    width: 50px;
    padding: 17px 
    20px;
    margin-right:20px;
    margin-top: 47px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#footer {
    width: 1800px;
    height: 100px;
    background-color: #777;
    margin-top: 47%;
    text-align: center;
    padding-top: 60px;
    color: white;

}
